/* стили для всех форм на страницах в личном кабинете пользователя */
.form {
    position: fixed;
    top 0;
    left: 50%;
    width: 400px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #000;
    opacity: 0.7;
}

#form1 {
    height: 310px;
    margin: 10px 0 0 -250px;
}

#form2 {
    height: 125px;
    margin: 345px 0 0 -250px;
}

#form4 {
    height: 195px;
    margin: 10px 0 0 -250px;
}

#form5 {
    height: 70px;
    margin: 205px 0 0 -250px;
}

#form6 {
    height: 320px;
    margin: 205px 0 0 -250px;
}

.input {
    width: 320px;
    margin: 10px 25px;
    padding: 7px ;
    border-radius: 20px;
}

.caption {
    font-size: 24px;
    text-align: center;
    color: white;
}

.form1 select, .form4 select, .form5 select,
.form1 input, .form4 input, .form5 input {
    width: 100%;
    margin: 5px 0;
    padding: 5px 15px;
}

