/* стили для формы Авторизации: высота и положение на экране, положение кнопок */
.login {
  top: 50%;
  margin: -145px 0 0 -180px;
  height: 290px;
}

[for="user"],
.user {
  top: 80px;
}

[for="password"],
.password,
input[type="submit"] {
  top: 160px;
}

