/* Профиль пользователя */
.profile {
    position: fixed;
    right: 10%;
    height: 800px;
    width: 500px;
    border:5px;
    border: 5px solid #ffff00;
    text-align:center;
    background: rgba(255, 255, 255, 0.55);
    border-radius: 25px;
}

.img_profile {
    max-height: 450px;
    max-width: 500px;
    border: 3;

}