/* стили для формы Регистрация: высота и положение на экране, положение кнопок */
.login {
  top: 40%;
  margin: -150px 0 0 -180px;
  height: 450px;
}

[for="user"],
.user {
  top: 80px;
}

[for="email"],
.email {
  top: 160px;
}

[for="password"],
.password {
  top: 240px;
}

[for="password2"],
.password2,
input[type="submit"]{
  top: 320px;
}
