{% extends 'users/fon.html' %}
{% block title%}Регистрация{% endblock %}
{% block css %} <!-- css: эти файлы заменяют стили bootstrap -->
<!-- base_log.css - высота формы для регистрации и положение формы и кнопок на экране -->
<link rel="stylesheet" href="static/css/registration.css" media="screen" type="text/css" />
<!-- base_log.css - общие стили для регистрации и авторизации-->
<link rel="stylesheet" href="static/css/base_log.css" media="screen" type="text/css" />
{% endblock %}

{% block content %}
<!-- форма для регистрации -->
<form method="POST" action="" id="login" class="login">
	{% csrf_token %}
	<h2>Регистрация</h2>
	<label for="user" class="icon-user">Логин:</label>
	<input class="user" id="user" type="text" name="username" placeholder="Логин"/>
	<label for="email" class="icon-envelope">Почта:</label>
	<input type="email" class="email" id="email" name="email" placeholder="Email"/>
	<label for="password" class="icon-lock">Пароль:</label>
	<input type="password" class="password" id="password" name="password1" placeholder="Пароль"/>
	<label for="password2" class="icon-lock">Пароль2:</label>
	<input type="password" class="password2" id="password2" name="password2" placeholder="Повторите пароль"/>
	<input type="submit" value="Готово" />
	<div class="extra">
		<table>
   			<tr>
    			<td ><a href="{% url 'password_reset' %}" class="forgetPassword">Забыл пароль</a></td>
	   			<td ><a href="{% url 'login' %}" class="forgetPassword">&ensp;Вход</a></td>
   			</tr>
  		</table>
	</div>
</form>
<!-- вывод ошибкок при регистрации -->
{% for message in messages %}
	<div class="messages">
		<p>{{message}}</p>
	</div>
{% endfor %}
{% endblock %}